VITE_FIREBASE_API_KEY=AIzaSyDkEaTtmi9ku2hfVAummWH9ZTBZfLZPeN0
VITE_FIREBASE_AUTH_DOMAIN=ecoquest-platform-6f7b6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecoquest-platform-6f7b6
VITE_FIREBASE_STORAGE_BUCKET=ecoquest-platform-6f7b6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=149683866815
VITE_FIREBASE_APP_ID=1:149683866815:web:886b11acbb2384b7a4ca0a